<footer class="footer">
  <div class="container-fluid">
	  <div class="row">
	    <div class="col vertical-center-logo">
	    	<div class="logo"></div>
	    </div>
	    <div class="col vertical-center">
	    	<ul>
	    		<li>Careers</li>
	    		<li>FAQ</li>
	    		<li>Contact</li>
	    	</ul>
	    </div>
	    <div class="col vertical-center">
	    	<ul>
	    		<li>Terms</li>
	    		<li>Privacy</li>
	    		<li>Blog</li>
	    	</ul>
	    </div>
	    <div class="col vertical-center-social social-icons">
	    	<ul>
	    		<li>FB</li>
	    		<li>TW</li>
	    		<li>YT</li>
	    		<li>IG</li>
	    	</ul>
	    </div>
	  </div>
  </div>
</footer>