header{
	width: 100%;
  	height: 100vh;
  	background-color: #86cccc;
  	position: relative;
}
header h1{
	font-size: 3.5em;
	display: inline;
	margin: 0em 0.5em 0em 0.5em;
}
.overlay{
	position: absolute;
	top: -5em;
}
.footer {
	width: 100%;
	height: 300px;
	background-color: #86cccc;
	position: absolute;
	line-height: 30px; /* Vertically center the text there */
}
.footer ul li {
	display: block;
	text-decoration: none;
}
.footer ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}
.vertical-center {
	padding-top: 5em;
}
.vertical-center-logo {
	padding-top: 3em;
}
.logo{
	background: url("logo.png");
	height: 150px;
	width: 150px;
	background-size: cover;
	background-repeat: no-repeat;
}
.social-icons ul li {
	display: inline;
}
.vertical-center-social{
	padding-top: 5em;
}
.travel-box{
	border: 1px solid #DA627D;
}
.enjoy-box{
	border: 1px solid #9A348E;
}
.share-box{
	border: 1px solid #AFF9C9;
}

