<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="img-fluid"></div> 
            </div>
        </div>
    </div>
</header>
<br />
<div class="container">
	<div class="row" align="center">
	  <div class="col travel-box p-4">
	    <h1>TRAVEL</h1>
	  </div>
	  <div class="col enjoy-box p-4 ml-1">
	    <h1>ENJOY</h1>
	  </div>
	  <div class="col share-box p-4 ml-1">
	    <h1>SHARE</h1>
	  </div>
	</div>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col align-self-start">
    <p>Shabby chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
    </div>
    <div class="jumbotron col align-self-center">
     <p>Shabby chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
    </div>
    <div class="col align-self-end">
      <p>Shabby chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
    </div>
  </div>
</div>
<br />
<div class="container">
	<div class="row">
	  <div class="jumbotron col-8"><p>Retro kogi vaporware waistcoat artisan, mixtape vegan. Pok pok lumbersexual mlkshk truffaut kombucha. Chicharrones mlkshk fashion axe irony, cold-pressed air plant chambray 90's +1 wolf literally chillwave. Deep v fashion axe hoodie affogato, poutine kogi swag snackwave iPhone franzen tbh fap health goth bespoke. </p></div>
	  <div class="col-4">Yuccie mumblecore hell of occupy, yr man braid lo-fi vape fixie chicharrones shoreditch austin bespoke. </div>
	</div>
</div>
<br />
<div class="container">
  <div class="row align-items-end">
    <div class="col">
     <p>Literally roof party mixtape, letterpress man braid pork belly whatever jean shorts taxidermy typewriter health goth cold-pressed echo park iPhone ugh. </p>
    </div>
    <div class="col">
      <p>Literally roof party mixtape, letterpress man braid pork belly whatever jean shorts taxidermy typewriter health goth cold-pressed echo park iPhone ugh. </p>
    </div>
    <div class="jumbotron col">
      <p>Literally roof party mixtape, letterpress man braid pork belly whatever jean shorts taxidermy typewriter health goth cold-pressed echo park iPhone ugh. </p>
    </div>
  </div>
</div>


