<!-- Header -->
<header>
  <div class="bg-overlay">
    <div class="row h-75 w-100">
        <div class="col-sm-12 my-auto" align="center">
            <h1>Travel.</h1>
            <h1>Enjoy.</h1>
            <h1>Share.</h1>
        </div>
    </div>
    </div>
</header>

<div class="container overlay">
  <div class="custom-jumbotron">
    <div class="intro">
      <h1 align="center">Get inspired. Start your next adventure!</h1><div class="slanted-line"></div>
      <p>See what other travelers around the world are talking about, where they're staying, eating, and enjoying life! Get inspired by thiusands of pictures uploaded daily with all the information that you need, like location, price, and a personal rating. When will you start you next adventure?</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <img src="/assets/coki.jpg", class="img-fluid", height="350px", width="450px" >
        </div>
        <div class="custom-jumbo col align-self-center">
         <p>Coki chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="custom-jumbo col align-self-center hidden-sm-down">
         <p>Carne chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6" align="center">
          <img src="/assets/carneyvino.jpg", class="img-fluid", height="350px", width="350px">
        </div>
        <div class="custom-jumbo col align-self-center hidden-md-up">
         <p>Carne chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <img src="/assets/harbin.jpg", class="img-fluid", height= "350px", width= "450px" >
        </div>
        <div class="custom-jumbo col align-self-center">
         <p>Harbin chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="custom-jumbo col align-self-center hidden-sm-down">
         <p>San F chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6" align="center">
          <img src="/assets/sf.jpg", class="img-fluid", height= "350px", width= "350px" >
        </div>
        <div class="custom-jumbo col align-self-center hidden-md-up">
         <p>San F chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <img src="/assets/miramoon.jpg", class="img-fluid", height= "350px", width= "450px" >
        </div>
        <div class="custom-jumbo col align-self-center">
         <p>Hotel chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
      </div>
    </div>

  </div><!-- close jumbotron -->
</div><!-- close overlay container -->

  <div class="container three-options">
    <div class="row">

      <div class="col card">
      <%= link_to root_path do %>
        <div class="card-block" align="center">
          <h4>Get the cheapest deals</h4>
          <img src="/assets/tickets.png", class "img-fluid", height= "200px", width= "200px" >
        </div>
      <% end %>  
      </div>
      <div class="col card">
      <%= link_to root_path do %>
        <div class="card-block" align="center">
           <h4>Enjoy every bite</h4>
          <img src="/assets/food.png", class "img-fluid", height= "200px", width= "200px" >
        </div>
      <% end %>  
      </div>
      <div class="col card">
      <%= link_to root_path do %>
        <div class="card-block" align="center">
          <h4>Sleep happy and safe</h4>
          <img src="/assets/sleep.png", class "img-fluid", height= "200px", width= "200px" >
        </div>
      <% end %>  
      </div>

    </div>
  </div>

<br />
  <div class="container first-row-reviews">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 align-self-start reviews-title">
      <h1>See what some of our happiest users are saying about us.</h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 card align-self-center">
       <h2>I saved myself so much money by using this site. I love it!</h2>
       <p align="right">-Susan</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 jumbotron col align-self-center">
        <h2>I would recomend this site to anyone who likes to travel.</h2>
        <p align="right">-Chris</p>
      </div>
    </div>
  </div>

  <div class="container second-row-reviews">
    <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 align-self-start">
      <h4>I made a quick trip to Thailand last month, and this website's recommendations helped me choose the right places to visit and saved me a lot of time!</h4>
      <p align="right">-Greg</p>
    </div>
      <div class="col-xs-12 col-md-5 col-lg-4 jumbotron col align-self-center">
       <h4>I am addicted! This is the BEST website for nomads like myself!</h4>
       <p align="right">-Allison</p>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4 align-self-end">
        <h4>I travel a lot, and this website is a great way to keep track of the places I've been to and see what other travelers are discovering everywhere in the world.</h4>
        <p align="right">-Alan</p>
      </div>
    </div>
  </div>

<br />


