<!-- Header -->
<header>
  <div class="bg-overlay">
    <div class="row h-50">
        <div class="col-sm-12 my-auto" align="center">
            <h1>Travel.</h1>
            <h1>Enjoy.</h1>
            <h1>Share.</h1>
        </div>
    </div>
    </div>
</header>

<div class="container overlay">
  <div class="custom-jumbotron">
    <div class="intro">
      <h1 align="center">Get inspired. Start your next adventure!</h1><div class="slanted-line"></div>
      <p>Shabby chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/assets/coki.jpg", class "img-fluid", height= "350px", width= "450px" >
        </div>
        <div class="custom-jumbo col align-self-center">
         <p>Shabby chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="custom-jumbo col align-self-center">
         <p>Shabby chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
        <div class="col" align="center">
          <img src="/assets/carneyvino.jpg", class "img-fluid", height= "350px", width= "350px">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/assets/harbin.jpg", class "img-fluid", height= "350px", width= "450px" >
        </div>
        <div class="custom-jumbo col align-self-center">
         <p>Shabby chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="custom-jumbo col align-self-center">
         <p>Shabby chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
        <div class="col" align="center">
          <img src="/assets/sf.jpg", class "img-fluid", height= "350px", width= "350px" >
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/assets/miramoon.jpg", class "img-fluid", height= "350px", width= "450px" >
        </div>
        <div class="custom-jumbo col align-self-center">
         <p>Shabby chic pug celiac hella. Umami listicle tumeric stumptown, man braid live-edge copper mug tbh ugh crucifix la croix forage. Hashtag tousled skateboard la croix butcher normcore dreamcatcher. Bushwick post-ironic master cleanse fashion axe chillwave.</p>
        </div>
      </div>
    </div>

  </div><!-- close jumbotron -->
</div><!-- close overlay container -->

  <div class="container">
    <div class="row">
      <div class="col travel-box p-4" align="center">
        <h4>Get the cheapest deals</h4>
        <img src="/assets/tickets.png", class "img-fluid", height= "200px", width= "200px" >
      </div>
      <div class="col enjoy-box p-4 ml-1" align="center">
        <h4>Enjoy every bite you take</h4>
        <img src="/assets/food.png", class "img-fluid", height= "200px", width= "200px" >
      </div>
      <div class="col share-box p-4 ml-1" align="center">
        <h4>Sleep like a king or queen</h4>
        <img src="/assets/sleep.png", class "img-fluid", height= "200px", width= "200px" >
      </div>
    </div>
  </div>

<br />
  <div class="container first-row-reviews">
    <div class="row">
      <div class="col-5 align-self-start reviews-title">
      <h1>See what some of our happiest users are saying about us.</h1>
      </div>
      <div class="card col align-self-center">
       <h2>I saved myself so much money by using this site. I love it!</h2>
       <p align="right">-Susan</p>
      </div>
      <div class="card col align-self-center">
        <h2>I would recomend this site to anyone who likes to travel.</h2>
        <p align="right">-Chris</p>
      </div>
    </div>
  </div>

  <div class="container second-row-reviews">
    <div class="row">
    <div class="col align-self-start">
      <h4>I made a quick trip to Thailand last month, and this website's recommendations helped me choose the right places to visit and saved me a lot of time!</h4>
      <p align="right">-Greg</p>
    </div>
      <div class="jumbotron card col align-self-center">
       <h4>I am addicted! This is the BEST website for nomads like myself!</h4>
       <p align="right">-Allison</p>
      </div>
      <div class="col align-self-end">
        <h4>I travel a lot, and this website is a great way to keep track of the places I've been to and see what other travelers are discovering everywhere in the world.</h4>
        <p align="right">-Alan</p>
      </div>
    </div>
  </div>

<br />


