<!-- Header -->
<header>
  <div class="bg-overlay">
    <div class="row h-75 w-100">
        <div class="col-sm-12 my-auto" align="center">
            <h1>Travel.</h1>
            <h1>Enjoy.</h1>
            <h1>Share.</h1>
        </div>
    </div>
    </div>
</header>

<div class="container overlay">
  <div class="custom-jumbotron">
    <div class="intro">
      <h1 align="center">Get inspired. Start your next adventure!</h1><div class="slanted-line"></div>
      <p>See what other travelers around the world are talking about, where they're staying, eating, and enjoying life! Get inspired by thiusands of pictures uploaded daily with all the information that you need, like location, price, and a personal rating. When will you start you next adventure?</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <img src="/assets/coki.jpg", class="img-fluid", height="350px", width="450px" >
        </div>
        <div class="custom-jumbo col align-self-center">
         <p>Coki beach is beautiful, but to truly enjoy the ambiance of the shoreline there would need to be a lot less people. The day we spent at Coki, our group rented some chairs, umbrellas, and snorkeling equipment. The water was absolutely gorgeous and there was some interesting fish & coral to look at while snorkeling.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="custom-jumbo col align-self-center hidden-sm-down">
         <p>This former Mickey Mantle's location has taken over from a string of inconsequential tourist traps. The professional staff gave us a nice table and served a superb lunch. Steak salad was caesar based and the burger was cooked to perfection. Right now the menu may be a bit limited compared to their other Manhattan locations, but they wanted to get things right. And that's  exactly what they did!<br/>Photo credit: Alan Estrada</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6" align="center">
          <img src="/assets/carneyvino.jpg", class="img-fluid", height="350px", width="350px">
        </div>
        <div class="custom-jumbo col align-self-center hidden-md-up">
         <p>This former Mickey Mantle's location has taken over from a string of inconsequential tourist traps. The professional staff gave us a nice table and served a superb lunch. Steak salad was caesar based and the burger was cooked to perfection. Right now the menu may be a bit limited compared to their other Manhattan locations, but they wanted to get things right. And that's  exactly what they did!<br/>Photo credit: Alan Estrada</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <img src="/assets/harbin.jpg", class="img-fluid", height= "350px", width= "450px" >
        </div>
        <div class="custom-jumbo col align-self-center">
         <p>I enjoyed the ice sculptures that are in the city of Harbin. And at the Harbin Ice and Snow World I was very impressed what they built with snow and ice. I asked one of the locals and he told me it 10,000 people 15 days to build the 2016 - 2017 Harbin Ice and Snow World. Be sure to dress warm it was -4 F on January 9th 2017.<br/>Photo credit: Alan Estrada</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="custom-jumbo col align-self-center hidden-sm-down">
         <p>It was several years since I had been to San Francisco and I wanted to be close to Union Square - this was the one chosen and it did not disappoint. My room included a bathroom and was on the fourth floor looking onto a courtyard - 4007 - and it was very quiet.<br/>Photo credit: Alan Estrada</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6" align="center">
          <img src="/assets/sf.jpg", class="img-fluid", height= "350px", width= "350px" >
        </div>
        <div class="custom-jumbo col align-self-center hidden-md-up">
         <p>It was several years since I had been to San Francisco and I wanted to be close to Union Square - this was the one chosen and it did not disappoint. My room included a bathroom and was on the fourth floor looking onto a courtyard - 4007 - and it was very quiet.<br/>Photo credit: Alan Estrada</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <img src="/assets/miramoon.jpg", class="img-fluid", height= "350px", width= "450px" >
        </div>
        <div class="custom-jumbo col align-self-center">
         <p>I love everything about this property. The design is great, cool and really tastefully done. The half moon rooms are spacious and the bathroom is huge - just too bad I had no one to share it with. Great restaurants and bars on the property - on top of everything else these were happening places full of people.</p>
        </div>
      </div>
    </div>

  </div><!-- close jumbotron -->
</div><!-- close overlay container -->

  <div class="container three-options">
    <div class="row">

      <div class="col card">
      <%= link_to root_path do %>
        <div class="card-block" align="center">
          <h4>Get the cheapest deals</h4>
          <img src="/assets/tickets.png", class "img-fluid", height= "200px", width= "200px" >
        </div>
      <% end %>  
      </div>
      <div class="col card">
      <%= link_to root_path do %>
        <div class="card-block" align="center">
           <h4>Enjoy every bite</h4>
          <img src="/assets/food.png", class "img-fluid", height= "200px", width= "200px" >
        </div>
      <% end %>  
      </div>
      <div class="col card">
      <%= link_to root_path do %>
        <div class="card-block" align="center">
          <h4>Sleep happy and safe</h4>
          <img src="/assets/sleep.png", class "img-fluid", height= "200px", width= "200px" >
        </div>
      <% end %>  
      </div>

    </div>
  </div>

<br />
  <div class="container first-row-reviews">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 align-self-start reviews-title">
      <h1>See what some of our happiest users are saying about us.</h1>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 align-self-center">
       <h2>I saved myself so much money by using this site. I love it!</h2>
       <p align="right">-Susan</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 jumbotron col align-self-center">
        <h2>I would recomend this site to anyone who likes to travel.</h2>
        <p align="right">-Chris</p>
      </div>
    </div>
  </div>

  <div class="container second-row-reviews">
    <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 align-self-start">
      <h4>I made a quick trip to Thailand last month, and this website's recommendations helped me choose the right places to visit and saved me a lot of time!</h4>
      <p align="right">-Greg</p>
    </div>
      <div class="col-xs-12 col-md-5 col-lg-4 jumbotron col align-self-center">
       <h4>I am addicted! This is the BEST website for nomads like myself!</h4>
       <p align="right">-Allison</p>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4 align-self-end">
        <h4>I travel a lot, and this website is a great way to keep track of the places I've been to and see what other travelers are discovering everywhere in the world.</h4>
        <p align="right">-Alan</p>
      </div>
    </div>
  </div>

<br />


